<div class="container" *ngIf="devices else elseContainerBlock">
    <div class="menu">
        <h2>Devices</h2>
        <a *ngFor="let device of devices"
           (click)="centerMapTo(device)">
            {{ device.name }}
        </a>
    </div>

    <mgl-map *ngIf=" loginService.isLogged && devicesLastPositions else elseBlock"
          [style]="
            'https://api.maptiler.com/maps/streets-v2/style.json?key=Cxd5P0gT4hBYDLl07bL2'
          "
          [zoom]="[zoom]"
          [center]="center"
          (mapLoad)="map = $event"
        >
        <mgl-marker *ngFor="let devicePos of devicesLastPositions" [lngLat]="[devicePos.lng, devicePos.lat]">
          <div
            (click)="showLastPoints(devicePos.iddevice)"
            class="marker"
            [ngStyle]="{
              'background-color': searchDeviceColor(devicePos.iddevice),
              width: '30px',
              height: '30px'
            }"
          >{{searchDeviceName(devicePos.iddevice).charAt(0).toUpperCase()}}</div>
        </mgl-marker>
        <mgl-geojson-source *ngIf="geometry" id="oneline">
            <mgl-feature [geometry]="geometry"></mgl-feature>
        </mgl-geojson-source>
        <mgl-layer *ngIf="geometry"
            id="route"
            type="line"
            source="oneline"
            [layout]="{
              'line-join': 'miter',
              'line-cap': 'round'
            }"
            [paint]="{
              'line-color': '#888',
              'line-width': 8
            }"
        >
        </mgl-layer>
    </mgl-map>
</div>
  <ng-template #elseBlock><div class="loader"></div></ng-template>
  <ng-template #elseContainerBlock><div class="loader"></div></ng-template>